@use "../foundation/var.scss" as *;
@use "../foundation/setting.scss" as *;

/*

component

--------------------------------------------------------------------*/
:root {
    --bg   : #222;
    --font : #222;
    --fontA: #848484;//#5cff51
    --box  : #fff;
}
body::selection {
    background: transparent;
    // color: #fff;
}

/*

CANVAS

--------------------------------------------------------------------*/
.js-canvas__wrap{pointer-events: none; position: fixed; top: 0; left: 0;}