@use "../foundation/setting.scss" as *;

/*

    Tablet | Ipad大・タッチ | 1281-

--------------------------------------------------------------------*/
@media screen and (min-width: 1281px) {    
    .tablet.touch{
        .show-t{display: block;}
    }


}



/*

    Tablet | Ipad Large | -1280

--------------------------------------------------------------------*/
@include bp(tablet-large) {
    .show-t{display: block;}
  
}



/*

    Tablet | -1023

--------------------------------------------------------------------*/
@include bp(tablet) {

    
    /*--------------------------------------

    SET
    
    --------------------------------------*/
    :root { --grid: 20px; }
    .show-m { display: block !important;}
    .hide-m { display: none !important;}
    .fs{
        &-xxl{ font-size: 18px; line-height: 1.0;  &.-w6{font-weight: 600;}}
        &-xl { font-size: 22px; line-height: 1.7;  &.-w5{font-weight: 500;}}
        &-l  { font-size: 20px; line-height: 1.7;  &.-w5{font-weight: 500;}}
        &-m  { font-size: 15px; line-height: 1.7;}
        &-s  { font-size: 14px; line-height: 1.7;  &.-w6{font-weight: 600;}} //14
        &-xs { font-size: 10px; line-height: 1.35; &.-w6{font-weight: 600;}}    
    }
    .spr {
        width: 100%;
        &-g05 { height: calc(var(--grid)*0.5); }
        &-g03 { height: calc(var(--grid)/3); }
        &-g   { height: calc(var(--grid)*1); }
        &-g15 { height: calc(var(--grid)*1.5); }
        &-g2  { height: calc(var(--grid)*2); }
        &-g3  { height: calc(var(--grid)*3); }
        &-g4  { height: calc(var(--grid)*4); }
        &-g5  { height: calc(var(--grid)*5); }
        &-g6  { height: calc(var(--grid)*6); }
    }
    .c-grid{
        .--right,.--left{grid-column: auto / span 46;}
    }
}
