@use "../foundation/var.scss" as *;
@use "../foundation/setting.scss" as *;

// /*

// home

// --------------------------------------------------------------------*/
// .l-home{
//     &__works{font-size: vw(65px); z-index: 5; position: relative;}
//     &__works-inner{padding: vw(30px); display: flex; flex-wrap: wrap; justify-content: center;}
//     &__works-inner h2{padding: 0 calc(var(--grid)*.5); display: flex; align-items: flex-start; position: relative;}
//     &__works-inner .nm{font-size: vw(9px); font-family: neue-haas-grotesk-display;  border-radius: 100vw; border: dotted 1px #fff; width: calc(var(--grid)*.5); aspect-ratio: 1;display: inline-flex;align-items: center; justify-content: center; position: absolute; top: calc(var(--grid)*0.25); left: calc(var(--grid)* -0.125);}

//     &__head{z-index: 5; position: relative; pointer-events: none;}
//     &__head{width: 100vw; display: flex; justify-content: space-between; align-items: center; position: absolute ; width: 100vw; height: 100vh; top: 0;}
//     &__head-inner{ width: 100vw; display: flex; justify-content: space-between;  padding: calc(var(--grid));}
//     &__head-inner p{pointer-events: auto;}
// }
// .l-home__works-inner h2 {transition: opacity 0.0s ease; cursor: pointer;}
// .l-home__works-inner:hover h2 {opacity: 0.2;}
// .l-home__works-inner h2:hover { opacity: 1; text-decoration: underline dotted;text-decoration-thickness: 3px;}
